# SQL Interview Questions  - Quiz

## Introduction

In this lesson, we'll go through a short quiz containing the types of questions about SQL and relational databases that you can expect to see in an interview. 



## SQL Interview Questions

This quiz contains questions on topics you can expect to see in an interview pertaining to SQL and Relational Databases. Some of them are multiple choice, while some are short answer. For these short answer questions, double click on the Jupyter Notebook and type your answer below the line. 

## Question 1

what are the 4 main datatypes in SQLite3? Can we use other common types from other kinds of SQL?

Type your answer below this line:
_______________________________________________________________________________________________________________________________





## Question 2

Explain the relationship between **Primary Keys** and **Foreign Keys**.

Type your answer below this line:
_______________________________________________________________________________________________________________________________





## Question 3

Explain the different types of relationships entities can have in a SQL database. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________


## Question 4

Explain the various types of JOINs possible with SQL. 

Type your answer below this line:
_______________________________________________________________________________________________________________________________



## Question 5

Explain the relationship between Aggregate functions and GROUP BY statements.

Type your answer below this line:
_______________________________________________________________________________________________________________________________



## Question 6

What role do Associative Entities play (JOIN Tables) in many-to-many JOINs?


Type your answer below this line:
_______________________________________________________________________________________________________________________________



## Summary

In this lesson, we practiced answering open-ended interview questions for SQL and Relational Databases.

In [ ]:
#Question 1: integers (numbers), text (equivalent to string in python), 
#real (equivalent to float in python), blob (data stored as it appears? 
#like if we dropped an image into sql?)

In [ ]:
#Question 2: primary keys serve as unique identifiers for a table; 
#foreign keys are primary keys of another table that allow 
#two tables to be linked with unique identifiers

In [ ]:
#Question 3: 1-1 (for every element in one table, there is exactly one other element 
#it is mapped to in another table), 1-M (1 element mapped to many elements in another table - 
#ex: employees and their many customers), M-M

In [ ]:
#Question 4: inner join - joins all the matched values between the two tables, 
#left and right joins will join all the matched values between the two tables as 
#well as the unmatched values of either the first or second table, respectively, 
#an outer join will show all unmatched elements from each table, 
#and lastly a full join will include all values between the two tables, 
#including matched values as well as unmatched values from both tables

In [ ]:
#Question 5: aggregate functions, such as count, sum, avg, will allow you to 
#operate on a column of data but need to follow a group by statement, otherwise SQL won't know
#how to aggregate the data; grouping tells SQL which column to group the data by

In [ ]:
#Question 6: allow us to join many to many rel